__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

.env
.venv
env/
venv/
ENV/

.ipynb_checkpoints
*/.ipynb_checkpoints/*

*.log
*.sqlite3

~$*
*.tmp
*.csv.xlsx

.vscode/
.idea/
.DS_Store
Thumbs.db

/*.docx

!data/raw/cars.csv
data/processed/*.csv
!data/processed/cars_cleaned.csv
!data/processed/text_flags.csv
!data/processed/.gitkeep
!data/geojson/.gitkeep

01_crawler_and_ml/crawler/data/
